asgiref
asttokens
attrs
autobahn
Automat
cffi
channels
constantly
cryptography
daphne
decorator
dj-database-url
Django
django-cors-headers
django-debug-toolbar
django-extensions
django-sslserver
djangorestframework
djangorestframework-simplejwt
drf-yasg
et-xmlfile
exceptiongroup
executing
h2
hpack
hyperframe
hyperlink
idna
incremental
inflection
ipython
jedi
macaddress
Markdown
matplotlib-inline
numpy
openpyxl
packaging
pandas
parso
pexpect
Pillow
priority
prompt-toolkit
psycopg2
psycopg2-binary
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pydotplus
Pygments
PyJWT
pyOpenSSL
pyparsing
python-dateutil
python-dotenv
python-generate-mac
pytz
PyYAML
randmac
service-identity
six
sqlparse
stack-data
traitlets
Twisted
txaio
typing_extensions
tzdata
uritemplate
wcwidth
zope.interface