<!doctype html>
{% load static %}
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href='{% static "favicon.ico" %}' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Roll Dashboard</title>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script type="module" crossorigin src='{% static "assets/index-CVhbOCmt.js" %}'></script>
    <link rel="stylesheet" crossorigin href='{% static "assets/index-DmOBOeol.css" %}'>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
